.facebook-button{
  margin-top: 10px;
  width: 100%;
  height: 40px;
  font-size: 18px;
  line-height: 40px;
  cursor: pointer;
  color: #ffffff;
  border-radius: 10px;
  font-family: Helvetica, sans-serif;
  text-align: center;
  transition: 200ms ease all;
  background-color:#4a54ff;
  margin-right: 5px;
  &:hover{
    background-color:#3036b0;
  }
}
